<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Provinces</title>
</head>
<body>
<a href="/pro/create">Create new provinces</a>
<h1>Provinces</h1>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="provinces : ${provincess}">
        <tr>
            <td ><a th:text="${provinces.name}" th:href="@{/pro/view/__${provinces.id}__ }"></a></td>
            <td><a th:href="@{/pro/edit/__${provinces.id}__ }">Edit</a></td>
            <td><a th:href="@{/pro/delete/__${provinces.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>